html {
  height: 100%
  
}

body {
  height: 100%;
  min-width: 700px;
}

#root {
  height: 100%;
  background-image: url("../public/resources/v915-wit-002-d.jpg");
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  overflow: scroll;
}

.app-header {
  margin: 0 0 0 25%;
  height: 10%;
  min-height: 100px;
  box-sizing: border-box;
  padding: 10px;
  overflow:hidden;
  
}

.app-header h1{
  color: black;
  text-align: center;

}

main {
  display: flex;
  align-items: flex-start;
  height: 90%;
  box-sizing: border-box;
}

nav {
  padding: 10px;
  width: 25%;
  margin: 10px;
  min-width: 150px;
  box-sizing: border-box;
  position: relative;
  top: 70%;
}

.content {
  width: 100%;
  padding: 20px;
  margin: 0 0 0 5%;
  height: 95%;
  overflow: scroll;
  overflow-x: scroll;
  box-sizing: border-box;
}

.contentlist {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  
}

.contentlist a{
  font-size: 1.05em;
  text-decoration: none;
  color:rgb(99, 117, 218);
  padding-bottom: 20px;
  font-weight: bold;
}

.contentlist :hover {
  color: blue;
  cursor: pointer;
}

.intro p{
  font-size: 1.1em;
  border: 1px solid black;
  border-radius: 30px;
  padding: 20px;
  margin-right: 10%;
  margin-left: 10%;
  text-align: justify;
}

.about-me {
  display: inline-block;
  text-align:justify;

}

#frontend:hover, #javascript:hover {
  text-decoration: underline;
  cursor: pointer;
}

.Education img{
  max-width: 100%;
}