html, body, #root {
  height: 100%
}

h1 {
  font-family: Saira Extra Condensed;
}

p, h5 {
  color: #333333;
}

b{
  font-weight: 700;
  color: #666666;
}

.contentlist :hover {
  color: blue;
  cursor: pointer;
}

#content-list {
  font-family: Saira;
}

#social_logo {
  opacity: 50%;
  height: 90px
}

#social_logo:hover{
  opacity: 100%;
}

#frontend:hover, #javascript:hover, #bootstrap:hover {
  text-decoration: underline;
  cursor: pointer;
}

#itskills #pics {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 50px;
  }

#itskills img {
  height: 100px;
}

@keyframes enlarge {
  from {height: 100px;}
  to {height: 120px;}
}

#itskills img:hover {
  animation-name: enlarge;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}